.restaurant-item{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item img{
  max-height: 180px;
  width: 100%;
}

.restaurant-item .caption{
  padding: 10px;
}

.nav-pills-center{
  text-align: center;
}

.nav-pills-center > li {
  float: none;
  display: inline-block;
}

.my-restaurant{
  display: inline-block;
  margin: auto 5px;
  text-align: center;
}

.my-restaurant > div {
  height: 60px;
}

.my-restaurant img{
  max-height: 100%;
}

.panel a:hover .my-restaurant{
  background-color: #eee;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
  text-decoration:none; 
}
