<div class="container">
  <div class="row">
    <!-- restaurants list, 有多寫 restaurant-item 的 class style -->
    <ul class="nav nav-pills nav-pills-center">
      <li role="presentation"><%= link_to "全部餐廳", root_path %></li>
      <!-- 這邊判斷 category == @category 的時候要加上 li.active -->
      <% @categories.each do |category| %>
        <li role="presentation" class="<%= "active" if category == @category %>"><%= link_to category.name, category_path(category) %></li>
      <% end %>
    </ul>

    <%= render partial: "shared/restaurant_list" %>

  </div> 
</div>